@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
}

@keyframes blinking {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.fade-in {
    animation: fade-in 500ms;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
        transform: scale(0.9) translateY(0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.pop-in {
    transform-origin: center center;
    animation: pop-in 500ms;
}

@keyframes pop-in {
    0% {
        opacity: 0.1;
        transform: scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.error-shake {
    transform-origin: center center;
    animation: error-shake 500ms;
}

@keyframes error-shake {
    0% {
        transform: translateX(+100px);
    }
    25% {
        transform: translateX(-75px);
    }
    50% {
        transform: translateX(+50px);
    }
    100% {
        transform: translateX(0px);
    }
}
