@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    font-family: "Rubik", sans-serif;
}

@keyframes blinking {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.fade-in {
    animation: fade-in 500ms;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
        transform: scale(0.9) translateY(0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
